<div class="container">
  <div class="col-xs-12">
    <!-- We listen to the event emitted in game-control.component.ts 
    $event gives us access to the event data, which is a number in our case . -->
    <app-game-control
      (intervalFired)="onIntervalFired($event)"
    ></app-game-control>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!-- here we bind every index number of the array oddNumbers
which is defined as oddNumber
to the reference variable [number]
We can then access this index variable as Input in odd.component.ts as {{number}}-->
      <app-odd
        *ngFor="let oddNumber of oddNumbers"
        [number]="oddNumber"
      ></app-odd>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
      </app-even>
    </div>
  </div>
</div>
